# Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from sklearn import linear_model
import matplotlib.pyplot as plt

In [2]:
#!pip install nfl-data-py
import nfl_data_py as nfl

#!pip install pyarrow
#!pip install pyarrow.parquet
import pyarrow as pa
import pyarrow.parquet as pq

In [3]:
years_required_1 =[2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022]
NFL_PBP_Data = nfl.import_pbp_data(years = years_required_1, downcast=True, cache=False, alt_path=None)

2010 done.
2011 done.
2012 done.
2013 done.
2014 done.
2015 done.
2016 done.
2017 done.
2018 done.
2019 done.
2020 done.
2021 done.
2022 done.
Downcasting floats.

In [220]:
print("shape of the data ",NFL_PBP_Data.shape)
NFL_PBP_Data.head(3)

shape of the data  (588078, 384)

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,offense_formation,offense_personnel,defenders_in_box,defense_personnel,number_of_pass_rushers,players_on_play,offense_players,defense_players,n_offense,n_defense
0,1.0,2010_01_ARI_STL,2010091208,LA,ARI,REG,1,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,36.0,2010_01_ARI_STL,2010091208,LA,ARI,REG,1,ARI,away,LA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,58.0,2010_01_ARI_STL,2010091208,LA,ARI,REG,1,ARI,away,LA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
NFL_PBP_Data.describe()

,play_id,week,yardline_100,quarter_seconds_remaining,half_seconds_remaining,game_seconds_remaining,quarter_end,drive,sp,qtr,...,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe,defenders_in_box,number_of_pass_rushers,n_offense,n_defense
count,588078.000000,588078.000000,539005.000000,587524.000000,587524.000000,587524.000000,588078.000000,578741.000000,588078.000000,588078.000000,...,206569.000000,206569.000000,206568.000000,206569.000000,440240.000000,428077.000000,215787.000000,122208.00000,294992.000000,294992.000000
mean,2136.627930,9.413176,49.539318,412.143036,809.199829,1705.647705,0.016955,12.097564,0.073278,2.569334,...,5.301206,3.456806,0.795544,0.596526,0.618290,0.096614,6.377159,4.21821,9.826199,10.216393
std,1250.315674,5.353257,24.894192,281.622528,559.267578,1059.080566,0.129190,7.018105,0.260354,1.131445,...,2.429908,2.420459,0.248062,0.357138,0.240580,41.739258,1.092414,0.91271,3.405471,3.500931
min,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,...,0.279263,0.000000,0.012198,0.005621,0.010676,-99.512955,0.000000,0.00000,0.000000,0.000000
25%,1061.000000,5.000000,31.000000,146.000000,277.000000,785.000000,0.000000,6.000000,0.000000,2.000000,...,3.663696,2.000000,0.580838,0.244677,0.447859,-41.005138,6.000000,4.00000,11.000000,11.000000
50%,2118.000000,9.000000,51.000000,393.000000,795.000000,1800.000000,0.000000,12.000000,0.000000,3.000000,...,4.518313,3.000000,0.987917,0.509640,0.581276,4.481167,6.000000,4.00000,11.000000,11.000000
75%,3184.000000,14.000000,71.000000,657.000000,1290.000000,2596.000000,0.000000,18.000000,0.000000,4.000000,...,6.438459,5.000000,1.000000,0.999214,0.845202,34.729988,7.000000,5.00000,11.000000,11.000000
max,5921.000000,22.000000,99.000000,900.000000,1800.000000,3600.000000,1.000000,38.000000,1.000000,6.000000,...,34.043324,48.000000,1.000000,1.000000,0.998187,97.502953,11.000000,10.00000,21.000000,24.000000

## saving the df in an form of table/Parquet file for exporting

In [6]:
NFL_PBP_Data_table = pa.Table.from_pandas(NFL_PBP_Data)

In [7]:
pq.write_table(NFL_PBP_Data_table, 'NFL_PBP_Data_2010_2022_original.parquet', compression='GZIP')

In [8]:
pd.read_parquet('NFL_PBP_Data_2010_2022_original.parquet')

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,offense_formation,offense_personnel,defenders_in_box,defense_personnel,number_of_pass_rushers,players_on_play,offense_players,defense_players,n_offense,n_defense
0,1.0,2010_01_ARI_STL,2010091208,LA,ARI,REG,1,None,None,None,...,None,None,NaN,None,NaN,None,None,None,NaN,NaN
1,36.0,2010_01_ARI_STL,2010091208,LA,ARI,REG,1,ARI,away,LA,...,None,None,NaN,None,NaN,None,None,None,NaN,NaN
2,58.0,2010_01_ARI_STL,2010091208,LA,ARI,REG,1,ARI,away,LA,...,None,None,NaN,None,NaN,None,None,None,NaN,NaN
3,82.0,2010_01_ARI_STL,2010091208,LA,ARI,REG,1,ARI,away,LA,...,None,None,NaN,None,NaN,None,None,None,NaN,NaN
4,103.0,2010_01_ARI_STL,2010091208,LA,ARI,REG,1,ARI,away,LA,...,None,None,NaN,None,NaN,None,None,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
588073,4085.0,2022_03_PIT_CLE,2022092200,CLE,PIT,REG,3,CLE,home,PIT,...,SINGLEBACK,"6 OL, 1 RB, 2 TE, 1 WR",8.0,"3 DL, 4 LB, 4 DB",NaN,46080;43297;52418;44870;45798;44841;44906;4669...,00-0033057;00-0036267;00-0033901;00-0033995;00...,00-0034789;00-0033930;00-0034514;00-0033905;00...,11.0,11.0
588074,4169.0,2022_03_PIT_CLE,2022092200,CLE,PIT,REG,3,None,None,None,...,None,None,NaN,None,NaN,,,,0.0,0.0
588075,4156.0,2022_03_PIT_CLE,2022092200,CLE,PIT,REG,3,CLE,home,PIT,...,None,None,NaN,None,NaN,47905;54915;44903;43400;53897;46698;53674;5297...,00-0037332;00-0033927;00-0036692;00-0029008;00...,00-0035217;00-0032399;00-0034514;00-0036846;00...,11.0,11.0
588076,4183.0,2022_03_PIT_CLE,2022092200,CLE,PIT,REG,3,PIT,away,CLE,...,SHOTGUN,"1 RB, 1 TE, 3 WR",2.0,"1 DL, 3 LB, 7 DB",2.0,54915;52452;54533;44903;52457;47849;48588;5348...,00-0036326;00-0035216;00-0036894;00-0036893;00...,00-0037332;00-0036282;00-0037250;00-0033927;00...,11.0,11.0
588077,4229.0,2022_03_PIT_CLE,2022092200,CLE,PIT,REG,3,None,None,None,...,None,None,NaN,None,NaN,,,,0.0,0.0

## Basic Clean Up  (with smaller sample size)

In [9]:
years_required_2 =[2019,2020,2021]
NFL_PBP_Data_small = nfl.import_pbp_data(years = years_required_2, downcast=True, cache=False, alt_path=None)

2019 done.
2020 done.
2021 done.
2022 done.
Downcasting floats.

In [32]:
print(NFL_PBP_Data_small.shape)
NFL_PBP_Data_small.head()

(153111, 384)

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,offense_formation,offense_personnel,defenders_in_box,defense_personnel,number_of_pass_rushers,players_on_play,offense_players,defense_players,n_offense,n_defense
0,1.0,2019_01_ATL_MIN,2019090804,MIN,ATL,REG,1,None,None,None,...,None,None,NaN,None,NaN,,,,0.0,0.0
1,36.0,2019_01_ATL_MIN,2019090804,MIN,ATL,REG,1,ATL,away,MIN,...,None,None,NaN,None,NaN,48000;46263;45215;42450;43971;37179;43449;4235...,00-0035150;00-0033336;00-0032918;00-0032422;00...,00-0034411;00-0031570;00-0028042;00-0030968;00...,11.0,11.0
2,51.0,2019_01_ATL_MIN,2019090804,MIN,ATL,REG,1,ATL,away,MIN,...,SINGLEBACK,"1 RB, 2 TE, 2 WR",8.0,"4 DL, 3 LB, 4 DB",7.0,47814;37179;41235;35485;42354;41232;34472;3553...,00-0035235;00-0028042;00-0031279;00-0026997;00...,00-0031256;00-0027885;00-0031546;00-0027701;00...,11.0,11.0
3,79.0,2019_01_ATL_MIN,2019090804,MIN,ATL,REG,1,ATL,away,MIN,...,I_FORM,"2 RB, 0 TE, 3 WR",6.0,"4 DL, 2 LB, 5 DB",NaN,47814;35485;41235;41808;42354;41232;34472;4334...,00-0035235;00-0030968;00-0031279;00-0026997;00...,00-0027885;00-0031256;00-0031546;00-0032389;00...,11.0,11.0
4,100.0,2019_01_ATL_MIN,2019090804,MIN,ATL,REG,1,ATL,away,MIN,...,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,"4 DL, 2 LB, 5 DB",NaN,47814;41235;42354;41232;34472;43343;43516;4337...,00-0035235;00-0031279;00-0026997;00-0032392;00...,00-0031256;00-0031546;00-0032389;00-0032448;00...,11.0,11.0

In [11]:
#NFL_PBP_Data_small.to_excel("NFL_PBP_Data_small.xlsx")

In [12]:
# player information for replacing player IDs for individual
nfl.import_depth_charts(years=years_required_2)

,season,club_code,week,game_type,depth_team,last_name,first_name,football_name,formation,gsis_id,jersey_number,position,elias_id,depth_position,full_name
0,2019.0,ATL,1.0,REG,1,Bryant,Steven,Matt,Special Teams,00-0020578,3,K,BRY500226,K,Matt Bryant
1,2019.0,ATL,2.0,REG,1,Bryant,Steven,Matt,Special Teams,00-0020578,3,K,BRY500226,K,Matt Bryant
2,2019.0,ATL,3.0,REG,1,Bryant,Steven,Matt,Special Teams,00-0020578,3,K,BRY500226,K,Matt Bryant
3,2019.0,ATL,4.0,REG,1,Bryant,Steven,Matt,Special Teams,00-0020578,3,K,BRY500226,K,Matt Bryant
4,2019.0,ATL,5.0,REG,1,Bryant,Steven,Matt,Special Teams,00-0020578,3,K,BRY500226,K,Matt Bryant
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5784,2022.0,HOU,3.0,REG,2,Green,Kenyon,Kenyon,Offense,00-0037613,59,G,GRE298290,LG,Kenyon Green
5785,2022.0,HOU,3.0,REG,2,Deculus,Austin,Austin,Offense,00-0037302,76,T,DEC713964,RT,Austin Deculus
5786,2022.0,HOU,3.0,REG,2,Stewart,Marvin,M.J.,Defense,00-0034355,29,SS,STE793185,S,M.J. Stewart
5787,2022.0,HOU,3.0,REG,1,Pitre,Jalen,Jalen,Defense,00-0037246,5,DB,PIT083599,S,Jalen Pitre
5788,2022.0,HOU,3.0,REG,1,Greenard,Jonathan,Jonathan,Defense,00-0036224,52,DE,GRE397948,DE,Jonathan Greenard

In [68]:
print(NFL_PBP_Data_small.season.unique())
print(NFL_PBP_Data_small.play_type.unique())

[2019 2020 2021 2022]
[None 'kickoff' 'pass' 'run' 'punt' 'no_play' 'extra_point' 'qb_kneel'
 'field_goal' 'qb_spike']

### Truncating the data to just Season 2020 for quicker modeling

In [94]:
nfl_df = NFL_PBP_Data_small.loc[NFL_PBP_Data_small['season'] == 2020 ]
print(nfl_df.season.unique())
print(nfl_df.shape)

[2020]
(48514, 384)

### Removing Kneels, None, Qb Spikes & no_play

In [95]:
nfl_df = nfl_df[nfl_df['play_type'].isin(['pass', 'run', 'punt', 'extra_point', 'field_goal']) ]
print(nfl_df.shape)

(38641, 384)

### Removing overtime - teams will act very different during overtime...

In [96]:
nfl_df = nfl_df[~(nfl_df['game_half'] == 'Overtime' )]
print(nfl_df.shape)

(38473, 384)

### Normalizing the Yardline as an absolute matrix (Yards to End-Zone)

In [97]:
#  yardline currently moves from 0 to 50.. so '30' could be subjective based on who possesses the ball 
#so I am normalizing it to 0 to 99 to make it easy to follow..

#Using yardline_100 much clearer matrix

nfl_df = nfl_df[nfl_df['yardline_100'].notna()]
print(nfl_df.shape)

(38473, 384)

### Parsing the offense_personnel to pimary positions

In [98]:
print(nfl_df.offense_personnel.unique())

['2 RB, 1 TE, 2 WR' '1 RB, 1 TE, 3 WR' None '1 RB, 2 TE, 2 WR'
 '1 RB, 0 TE, 4 WR' '2 RB, 2 TE, 1 WR' '2 RB, 0 TE, 3 WR'
 '2 RB, 3 TE, 0 WR' '1 RB, 3 TE, 1 WR' '2 QB, 1 RB, 1 TE, 2 WR'
 '1 RB, 1 TE, 2 WR,1 LB' '0 RB, 1 TE, 4 WR' '0 RB, 2 TE, 3 WR'
 '0 RB, 3 TE, 2 WR' '1 RB, 2 TE, 1 WR,1 LB' '6 OL, 1 RB, 1 TE, 2 WR'
 '6 OL, 1 RB, 1 TE, 1 WR,1 LB' '2 RB, 1 TE, 1 WR,1 P,2 LB,1 LS,3 DB'
 '6 OL, 1 RB, 2 TE, 0 WR,1 DL' '6 OL, 1 RB, 2 TE, 1 WR' '0 RB, 0 TE, 5 WR'
 '3 RB, 1 TE, 1 WR' '6 OL, 2 RB, 2 TE, 0 WR' '6 OL, 2 RB, 1 TE, 1 WR'
 '7 OL, 1 RB, 2 TE, 0 WR' '8 OL, 2 RB, 0 TE, 0 WR'
 '6 OL, 1 RB, 3 TE, 0 WR' '6 OL, 2 RB, 0 TE, 2 WR'
 '2 RB, 2 TE, 1 WR,1 P,2 LB,1 LS,1 DL,1 DB' '2 QB, 1 RB, 0 TE, 3 WR'
 '3 RB, 0 TE, 2 WR' '2 QB, 1 RB, 2 TE, 1 WR'
 '2 QB, 6 OL, 2 RB, 1 TE, 0 WR' '2 QB, 2 RB, 2 TE, 0 WR'
 '1 RB, 0 TE, 1 WR,1 P,2 LB,1 LS,2 DL,3 DB' '1 RB, 3 TE, 0 WR,1 DL'
 '3 RB, 0 TE, 1 WR,1 P,3 LB,1 LS,2 DB'
 '2 RB, 1 TE, 0 WR,1 P,4 LB,1 LS,2 DB' '6 OL, 1 RB, 2 TE, 0 WR,1 LB'
 '6 OL, 1 RB, 0 TE, 3 WR' '2 QB, 6 OL, 1 RB, 2 TE, 0 WR'
 '0 RB, 1 TE, 3 WR' '2 QB, 2 RB, 1 TE, 1 WR'
 '0 RB, 1 TE, 0 WR,1 P,1 LS,2 DL,1 K'
 '0 RB, 1 TE, 2 WR,1 P,4 LB,1 LS,2 DB' '1 RB, 0 TE, 3 WR,1 LB'
 '2 QB, 0 RB, 2 TE, 2 WR' '1 RB, 1 TE, 2 WR' '7 OL, 2 RB, 1 TE, 0 WR'
 '0 RB, 0 TE, 1 WR,1 P,1 LB,1 LS,3 DB' '2 QB, 0 RB, 1 TE, 3 WR'
 '1 RB, 4 TE, 0 WR' '2 QB, 6 OL, 1 RB, 1 TE, 1 WR' '0 RB, 1 TE, 3 WR,1 DB'
 '1 RB, 2 TE, 0 WR,1 P,3 LB,1 LS,3 DB' '2 QB, 1 RB, 3 TE, 0 WR'
 '2 RB, 1 TE, 1 WR,1 P,3 LB,1 LS,2 DB'
 '1 RB, 0 TE, 0 WR,1 P,3 LB,1 LS,1 DL,4 DB'
 '0 RB, 0 TE, 2 WR,1 P,4 LB,1 LS,3 DB' '6 OL, 3 RB, 1 TE, 0 WR'
 '6 OL, 0 RB, 1 TE, 0 WR,1 P,1 LS,1 DL,1 K'
 '2 RB, 0 TE, 1 WR,1 P,3 LB,1 LS,3 DB'
 '1 RB, 2 TE, 2 WR,1 P,3 LB,1 LS,1 DB' '2 QB, 2 RB, 0 TE, 2 WR' nan
 '1 RB, 1 TE, 1 WR,1 P,4 LB,1 LS,2 DB' ''
 '7 OL, 0 RB, 1 TE, 0 WR,1 P,1 LS,1 K'
 '1 RB, 1 TE, 2 WR,1 P,3 LB,1 LS,1 DL,1 DB'
 '2 RB, 1 TE, 1 WR,1 P,3 LB,1 LS,1 DB' '2 RB, 2 TE, 2 WR'
 '2 RB, 1 TE, 3 WR' '2 RB, 3 TE, 1 WR'
 '1 RB, 1 TE, 0 WR,1 P,4 LB,1 LS,3 DB'
 '1 RB, 0 TE, 1 WR,1 P,3 LB,1 LS,1 DL,3 DB'
 '0 RB, 2 TE, 0 WR,1 P,1 LS,2 DL,1 K'
 '0 RB, 0 TE, 1 WR,1 P,4 LB,1 LS,4 DB' '7 OL, 0 RB, 2 TE, 0 WR,1 LS,1 K'
 '1 RB, 0 TE, 0 WR,1 P,4 LB,1 LS,1 DL,3 DB'
 '0 RB, 1 TE, 0 WR,1 P,4 LB,1 LS,4 DB' '2 QB, 0 RB, 3 TE, 1 WR'
 '6 OL, 0 RB, 2 TE, 2 WR' '1 RB, 0 TE, 1 WR,1 P,5 LB,1 LS,1 DB']

In [99]:
def transform_off_personnel(row):

   rb_count = 0
   te_count = 0
   wr_count = 0
   ol_count = 0
   dl_count = 0
   db_count = 0

   if not pd.isna(row['offense_personnel']):
       personnel = row['offense_personnel'].split(', ')
       for p in personnel:
           if p[2:4] == 'RB':
               rb_count = int(p[0])
           elif p[2:4] == 'TE':
                te_count = int(p[0])
           elif p[2:4] == 'WR':
                wr_count = int(p[0])
           elif p[2:4] == 'OL':
                ol_count = int(p[0])
           elif p[2:4] == 'DL':
                dl_count = int(p[0])
           elif p[2:4] == 'DB':
               db_count = int(p[0])

   return pd.Series([rb_count,te_count,wr_count,ol_count,dl_count, db_count])

nfl_df[['off_rb_count','off_te_count','off_wr_count','off_ol_count','off_dl_count', 'off_db_count']] = nfl_df.apply(transform_off_personnel, axis=1)

#### Validation

In [100]:
nfl_df_2 = nfl_df[['offense_personnel','off_rb_count','off_te_count','off_wr_count','off_ol_count','off_dl_count', 'off_db_count']]

In [101]:
nfl_df_2.drop_duplicates()

,offense_personnel,off_rb_count,off_te_count,off_wr_count,off_ol_count,off_dl_count,off_db_count
48036,"2 RB, 1 TE, 2 WR",2,1,2,0,0,0
48040,"1 RB, 1 TE, 3 WR",1,1,3,0,0,0
48041,None,0,0,0,0,0,0
48044,"1 RB, 2 TE, 2 WR",1,2,2,0,0,0
48047,"1 RB, 0 TE, 4 WR",1,0,4,0,0,0
...,...,...,...,...,...,...,...
88695,"1 RB, 0 TE, 0 WR,1 P,4 LB,1 LS,1 DL,3 DB",1,0,0,0,0,0
90167,"0 RB, 1 TE, 0 WR,1 P,4 LB,1 LS,4 DB",0,1,0,0,0,0
93200,"2 QB, 0 RB, 3 TE, 1 WR",0,3,1,0,0,0
93243,"6 OL, 0 RB, 2 TE, 2 WR",0,2,2,6,0,0
93912,"1 RB, 0 TE, 1 WR,1 P,5 LB,1 LS,1 DB",1,0,1,0,0,0

### Parsing the defense_personnel to pimary positions

In [102]:
print(nfl_df.defense_personnel.unique())

['2 DL, 5 LB, 4 DB' '1 DL, 5 LB, 5 DB' None '4 DL, 2 LB, 5 DB'
 '4 DL, 3 LB, 4 DB' '3 DL, 4 LB, 4 DB' '2 DL, 4 LB, 5 DB'
 '4 DL, 1 LB, 6 DB' '3 DL, 5 LB, 3 DB' '4 DL, 5 LB, 2 DB'
 '3 DL, 3 LB, 5 DB' '3 DL, 2 LB, 6 DB' '3 DL, 1 LB, 7 DB'
 '2 DL, 3 LB, 6 DB' '1 DL, 4 LB, 6 DB' '0 DL, 6 LB, 4 DB, 1 WR'
 '6 DL, 3 LB, 2 DB' '5 DL, 2 LB, 4 DB' '5 DL, 1 LB, 5 DB'
 '5 DL, 3 LB, 3 DB' '4 DL, 4 LB, 3 DB' '2 DL, 2 LB, 7 DB'
 '5 DL, 4 LB, 2 DB' '6 DL, 2 LB, 3 DB' '6 DL, 4 LB, 1 DB'
 '1 DL, 3 LB, 7 DB' '0 DL, 2 LB, 5 DB, 2 RB,2 WR' '0 DL, 3 LB, 8 DB'
 '3 DL, 2 LB, 4 DB, 1 RB,1 WR' '2 DL, 4 LB, 4 DB, 1 WR' '5 DL, 1 LB, 4 DB'
 '0 DL, 3 LB, 5 DB, 2 RB,1 WR' '4 DL, 1 LB, 5 DB, 1 TE' '3 DL, 2 LB, 5 DB'
 '5 DL, 0 LB, 6 DB' '0 DL, 5 LB, 6 DB' '4 DL, 0 LB, 7 DB'
 '4 DL, 3 LB, 3 DB, 1 WR' '4 DL, 2 LB, 4 DB, 1 WR' '2 DL, 3 LB, 5 DB'
 '4 DL, 5 LB, 1 DB' '5 DL, 2 LB, 3 DB, 1 WR' '3 DL, 4 LB, 5 DB'
 '0 DL, 6 LB, 5 DB' '5 DL, 5 LB, 1 DB' '4 DL, 6 LB, 1 DB'
 '2 DL, 1 LB, 7 DB, 1 TE' '2 DL, 2 LB, 6 DB, 1 TE' '4 DL, 2 LB, 4 DB'
 '4 DL, 3 LB, 5 DB' '0 DL, 2 LB, 9 DB' '1 DL, 3 LB, 5 DB, 1 RB,1 WR'
 '1 DL, 2 LB, 8 DB' '2 DL, 2 LB, 4 DB, 1 RB,2 WR'
 '0 DL, 5 LB, 4 DB, 1 RB,1 WR' '3 DL, 3 LB, 4 DB' '4 DL, 1 LB, 5 DB'
 '3 DL, 2 LB, 5 DB, 1 TE' '3 DL, 1 LB, 6 DB, 1 TE'
 '0 DL, 4 LB, 4 DB, 3 WR' '1 DL, 2 LB, 3 DB, 2 RB,3 WR' '2 DL, 4 LB, 4 DB'
 '6 DL, 1 LB, 4 DB' nan '3 DL, 0 LB, 8 DB' '1 DL, 2 LB, 4 DB, 3 RB,1 WR'
 '5 DL, 3 LB, 2 DB' '7 DL, 2 LB, 2 DB' '' '1 DL, 3 LB, 5 DB, 2 WR'
 '2 DL, 1 LB, 8 DB' '1 DL, 3 LB, 4 DB, 1 RB,1 TE,1 WR'
 '0 DL, 4 LB, 3 DB, 1 RB,2 WR' '1 DL, 4 LB, 5 DB, 1 RB'
 '1 DL, 3 LB, 5 DB, 1 TE,1 WR' '5 DL, 2 LB, 3 DB' '1 DL, 2 LB, 7 DB, 1 TE'
 '2 DL, 3 LB, 5 DB, 1 TE' '1 DL, 2 LB, 2 DB, 3 RB,1 TE,2 WR'
 '2 DL, 3 LB, 3 DB, 1 RB,2 WR' '4 DL, 3 LB, 3 DB' '0 DL, 3 LB, 5 DB, 3 WR'
 '7 DL, 1 LB, 3 DB' '4 DL, 2 LB, 4 DB, 1 OL' '3 DL, 3 LB, 4 DB, 1 OL']

In [103]:
def transform_def_personnel(row):

   dl_count = 0
   db_count = 0
   lb_count = 0
   rb_count = 0
   wr_count = 0
   ol_count = 0
   
   if not pd.isna(row['defense_personnel']):
       personnel = row['defense_personnel'].split(', ')
       for p in personnel:
           if p[2:4] == 'LB':
                lb_count = int(p[0])
           elif p[2:4] == 'DL':
                dl_count = int(p[0])
           elif p[2:4] == 'DB':
                db_count = int(p[0])
           elif p[2:4] == 'WR':
                wr_count = int(p[0])
           elif p[2:4] == 'RB':
                rb_count = int(p[0])
           elif p[2:4] == 'OL':
                ol_count = int(p[0])
                
   return pd.Series([dl_count,db_count,lb_count,rb_count,wr_count,ol_count])

nfl_df[['def_dl_count','def_db_count','def_lb_count','def_rb_count','def_wr_count','def_ol_count']] = nfl_df.apply(transform_def_personnel, axis=1)

#### Validation

In [110]:
nfl_df_2 = nfl_df[[
    'defense_personnel',
                   'def_dl_count',
                   'def_db_count',
                   'def_lb_count',
                   'def_rb_count',
                   'def_wr_count',
                   'def_ol_count']]

In [105]:
nfl_df_2.drop_duplicates()

,defense_personnel,def_dl_count,def_db_count,def_lb_count,def_rb_count,def_wr_count,def_ol_count
48036,"2 DL, 5 LB, 4 DB",2,4,5,0,0,0
48040,"1 DL, 5 LB, 5 DB",1,5,5,0,0,0
48041,None,0,0,0,0,0,0
48043,"4 DL, 2 LB, 5 DB",4,5,2,0,0,0
48044,"4 DL, 3 LB, 4 DB",4,4,3,0,0,0
...,...,...,...,...,...,...,...
87483,"4 DL, 3 LB, 3 DB",4,3,3,0,0,0
88695,"0 DL, 3 LB, 5 DB, 3 WR",0,5,3,0,3,0
92546,"7 DL, 1 LB, 3 DB",7,3,1,0,0,0
93113,"4 DL, 2 LB, 4 DB, 1 OL",4,4,2,0,0,1
93115,"3 DL, 3 LB, 4 DB, 1 OL",3,4,3,0,0,1

### Determining equating pass or rush as numberical

In [125]:
cross_tab = pd.crosstab(index=nfl_df['play_type'],
                        columns=nfl_df['play_type_nfl'])
cross_tab

play_type_nfl  FIELD_GOAL   PASS  PAT2  PUNT   RUSH  SACK  XP_KICK
play_type
extra_point             0      0     0     0      0     0     1395
field_goal           1007      0     0     0      0     0        0
pass                    0  18819   101     0      0  1177        0
punt                    0      0     0  1981      0     0        0
run                     0      0    39     0  13954     0        0

In [134]:
def PlayType_normalized(s):
  if s['play_type_nfl'] == 'PASS': 
    return 'PASS'
  elif s['play_type_nfl'] == 'RUSH': 
    return 'RUSH'
  else:
    return 'OTHER'

In [137]:
nfl_df['PlayType_normalized'] = nfl_df.apply(PlayType_normalized, axis=1)

In [138]:
#only keeping pass or rushes
nfl_df = nfl_df[~(nfl_df['PlayType_normalized'] == 'OTHER' )]

In [140]:
cross_tab = pd.crosstab(index=nfl_df['PlayType_normalized'],
                        columns=nfl_df['play_type'])
cross_tab

play_type             pass    run
PlayType_normalized
PASS                 18819      0
RUSH                     0  13954

In [176]:
#assing passing as 1 & rush as 0
nfl_df['PlayType_normalized_binary'] = nfl_df['PlayType_normalized'].map(lambda p: 1 if p == 'PASS' else 0)

### binning the distance to end-zone

In [177]:
bins = [0,10,20,30,40,50,60,70,80,90,100]
nfl_df['yardline_binned'] = pd.cut(nfl_df['yardline_100'], bins)

In [178]:
nfl_df[['yardline_binned','yardline_100']]

      yardline_binned  yardline_100
48036        (70, 80]          75.0
48037        (50, 60]          55.0
48038        (40, 50]          41.0
48039        (30, 40]          39.0
48040        (40, 50]          45.0
...               ...           ...
96538        (20, 30]          26.0
96539        (20, 30]          26.0
96540        (20, 30]          25.0
96542        (10, 20]          14.0
96543         (0, 10]          10.0

[32773 rows x 2 columns]

### Subsetting the columns for advance models

In [189]:
nfl_final = nfl_df[['play_id','game_id','home_team','away_team','PlayType_normalized','PlayType_normalized_binary','season_type','posteam','down','ydstogo','yardline_100','yardline_binned',
                   'offense_personnel','off_rb_count','off_te_count','off_wr_count','off_ol_count','off_dl_count','off_db_count',
                   'defense_personnel','def_dl_count','def_db_count','def_lb_count','def_rb_count','def_wr_count','def_ol_count',
                    'offense_formation','defenders_in_box'
                   ]]

## Base Model - Linear Regresssion

In [190]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
training_data, testing_data = train_test_split(nfl_final, test_size=0.2, random_state=210)
print(f"No. of training examples: {training_data.shape[0]}")
print(f"No. of testing examples: {testing_data.shape[0]}")

No. of training examples: 26218
No. of testing examples: 6555

In [191]:
training_data

,play_id,game_id,home_team,away_team,PlayType_normalized,PlayType_normalized_binary,season_type,posteam,down,ydstogo,...,off_db_count,defense_personnel,def_dl_count,def_db_count,def_lb_count,def_rb_count,def_wr_count,def_ol_count,offense_formation,defenders_in_box
49787,3002.0,2020_01_MIA_NE,NE,MIA,RUSH,0,REG,NE,1.0,10.0,...,0,"4 DL, 3 LB, 4 DB",4,4,3,0,0,0,I_FORM,7.0
63421,2778.0,2020_06_DET_JAX,JAX,DET,PASS,1,REG,JAX,1.0,5.0,...,0,"4 DL, 2 LB, 5 DB",4,5,2,0,0,0,SHOTGUN,6.0
52128,1522.0,2020_02_DET_GB,GB,DET,PASS,1,REG,DET,3.0,25.0,...,0,"1 DL, 4 LB, 6 DB",1,6,4,0,0,0,SHOTGUN,4.0
77523,1465.0,2020_12_CAR_MIN,MIN,CAR,PASS,1,REG,CAR,1.0,10.0,...,0,"4 DL, 2 LB, 5 DB",4,5,2,0,0,0,SHOTGUN,6.0
73281,2611.0,2020_10_JAX_GB,GB,JAX,RUSH,0,REG,GB,2.0,5.0,...,0,"4 DL, 2 LB, 5 DB",4,5,2,0,0,0,SHOTGUN,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50504,3439.0,2020_01_SEA_ATL,ATL,SEA,RUSH,0,REG,SEA,1.0,10.0,...,0,"4 DL, 2 LB, 5 DB",4,5,2,0,0,0,SHOTGUN,6.0
51806,3074.0,2020_02_CIN_CLE,CLE,CIN,RUSH,0,REG,CIN,1.0,10.0,...,0,"4 DL, 2 LB, 5 DB",4,5,2,0,0,0,SINGLEBACK,6.0
76239,588.0,2020_11_NE_HOU,HOU,NE,PASS,1,REG,HOU,3.0,10.0,...,0,"3 DL, 1 LB, 7 DB",3,7,1,0,0,0,SHOTGUN,6.0
58569,2292.0,2020_04_MIN_HOU,HOU,MIN,RUSH,0,REG,MIN,1.0,10.0,...,0,"3 DL, 4 LB, 4 DB",3,4,4,0,0,0,PISTOL,7.0
92024,3506.0,2020_17_DAL_NYG,NYG,DAL,PASS,1,REG,DAL,1.0,10.0,...,0,"3 DL, 3 LB, 5 DB",3,5,3,0,0,0,SHOTGUN,5.0

In [192]:
# very simple model of playstyle ~ yardline_100 + down
x_train = training_data[['yardline_100', 'down']]
y_train = training_data[['PlayType_normalized_binary']]
x_test =  testing_data[['yardline_100', 'down']]
y_test =  testing_data[['PlayType_normalized_binary']]

In [218]:
x_train.head(3)

       yardline_100  down
49787          26.0   1.0
63421           8.0   1.0
52128          65.0   3.0

In [219]:
y_train.head(3)

       PlayType_normalized_binary
49787                           0
63421                           1
52128                           1

In [193]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [194]:
regressor.fit(x_train, y_train)

LinearRegression()

In [210]:
y_prediction=regressor.predict(x_test)

In [222]:
import sklearn.metrics as metrics

rounded_predictions = np.round(y_prediction)

accuracy = metrics.accuracy_score(y_test, rounded_predictions)
print("Linear Regression is determining when to pass or rush as a function of Down & yards to end-zone")
print("The accuracy of the base model is","{:.2f}".format(accuracy *100),"%")

Linear Regression is determining when to pass or rush as a function of Down & yards to end-zone
The accuracy of the base model is 58.20 %